.Empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #000;
    margin: 20px 0 0 0;
}

.Orders {
    max-width: 1000px;
    width: 98%;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .Orders {
        width: 70%;
    }
}
